<?xml version="1.0"?>
<launch>

  <param name="/use_sim_time" value="true"/>

<!-- LOAD MAP -->
	<arg name ="map_file_path" default="$(find rc_car)/maps/3rd_floor.yaml" />
	<node name="load_map" pkg="map_server" type="map_server" args="$(arg map_file_path)" />

  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find rc_car)/rviz_cfg/amcl.rviz"/>

<!-- HECTOR -->
	<include file="$(find rc_car)/launch/hector_config.launch" />

<!-- AMCL -->
	<include file="$(find rc_car)/launch/amcl_config.launch" />


<!-- LASER/ -->
 	<node pkg="tf" type="static_transform_publisher" name="static_tf0" args="1 0 0 0 0 0  /world /map 100"/>
	<node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /base_frame /laser 100" />

<!-- ROBOT_POSE_EKF -->
	<include file="$(find rc_car)/launch/robot_pose_config.launch" />

	<node name="odom_to_ekf" pkg="rc_car" type="odom_to_ekf.py" output="screen" />	

</launch>