<?xml version="1.0"?>
<launch>
	<node name="dist_finder" pkg="rc_car" type="dist_finder.py" />
	<node name="pid_control" pkg="rc_car" type="control.py" />
	<node name="rosserial_python" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" />
	<include file="$(find rplidar_ros)/launch/rplidar.launch" />
</launch>